html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 16px;
  overflow: hidden;
  display: flex;
}

#cible {
  position: absolute;
  width: 10px;
  height: 10px;
  /*background-color: orange;
  border-radius: 5px;*/
  top: 60%;
  left: 50%;
}

pre {
  font-family: sans-serif;
  box-sizing: border-box;

}

header{
  margin-top: 25px;
  position: absolute;
  left: 30%;
  width: 40%;
  height: 20%;
  background-image: url(../images/titre.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
