html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 16px;
  overflow: hidden;
  display: flex;
}

#cible{
  position: absolute;
  width: 10px;
  height: 10px;
  /*background-color: orange;
  border-radius: 5px;*/
  top: 60%;
  left: 50%;
  display: none;
}

pre {
  font-family: sans-serif;
  box-sizing: border-box;
}



#evenements {
  width: 90%;
  margin: 0 auto;
  font-size: 0.6em;
}

#evenements p {
  margin: 0;
}

.logo{
  position: absolute;
  width: 680px;
  height: 194px;
  margin-top: 25px;
  left: 30%;
}

#hotspot1 {
  background: rgba(100,200,90,1);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
  cursor: pointer;
  height: 120px;
  left: 630px;
  opacity: 0.75;
  position: absolute;
  top: 640px;
  width: 40px;
  z-index: 2;
  display: none;
}

#hotspot2 {
  background: rgba(80,60,50,1);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
  cursor: pointer;
  height: 120px;
  left: 700px;
  opacity: 0.75;
  position: absolute;
  top: 380px;
  width: 40px;
  z-index: 2;
  display: none;
}

#hotspot3 {
  background: rgba(45,69,90,1);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
  cursor: pointer;
  height: 120px;
  left: 925px;
  opacity: 0.75;
  position: absolute;
  top: 290px;
  width: 40px;
  z-index: 2;
  display: none;
}
