html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 32px;
  overflow: hidden;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.titre{
margin: 110px;
}

.logo{
  width: 50px;
  height: 50px;
}

.images{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Bouton{
  display: flex;
  flex-direction: column;
}
.Bouton .Esquiver{
  width: 100%;
  display: flex;
  justify-content: center;
}
.Gauche{
  width: 50%;
}

.Droite{
  width: 50%;
}

.Bouton .Esquiver h4{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#133E7C;
  padding: 35px;
  font-family: "Dubai Medium";
  font-size: 25px;
  border: 10px solid #133E7C;
  background-color:rgba(19, 62, 124, 0.6);
  margin: 0;
}

h3{
  display: flex;
  justify-content: center;
  background-color:rgba(255, 190, 0, 0.6);
  color:#FFBE00;
  border: 10px solid #FFBE00;
  padding: 70px;
  margin: 0;
  font-family: "Dubai Medium";
  font-size: 35px;
}